
<h1>Products</h1>

<div class="btn-toolbar" role="toolbar">
    <div role="group" class="btn-group btn-group-xs">
        <a class="btn btn-default" ui-sref-active="btn-primary" ui-sref="products({ by: 'price' })">by price</a>
        <a class="btn btn-default" ui-sref-active="btn-primary" ui-sref="products({ by: 'name' })">by name</a>
    </div>
    <div role="group" class="btn-group btn-group-xs">
        <a class="btn btn-default" ui-sref-active="btn-primary" ui-sref="products({ order: '' })">asc</a>
        <a class="btn btn-default" ui-sref-active="btn-primary" ui-sref="products({ order: '-' })">desc</a>
    </div>
</div>

<ul class="products-list list-unstyled">
    <li ng-repeat="item in products.items | orderBy:products.orderBy | limitTo:products.limit track by item.id">

        <article class="product row">

            <div class="col-md-3">
                <a class="thumbnail" href=""><img src="http://placehold.it/350x150" alt=""/></a>
            </div>

            <div class="col-md-6">
                <div class="name">{{ item.name }}</div>
                <div>{{ item.description | limitTo:100 }}</div>
            </div>

            <div class="col-md-3">
                <div class="price">{{ item.price }}</div>
                <div class="actions btn-group btn-group-sm">

                    <button class="btn btn-default" ng-click="item.unBuy()" ng-if="item.getShoppingCartQuantity()">-</button>

                    <button ng-if="item.getShoppingCartQuantity()" class="btn btn-default" disabled>
                        {{ item.getShoppingCartQuantity() }}
                    </button>

                    <button class="btn btn-success" ng-click="item.buy()">
                        {{ item.getShoppingCartQuantity() ? '+' : 'купить' }}
                    </button>

                </div>
            </div>

        </article>

    </li>
</ul>

<pagination items="products.items" />