body{width: 830px;margin: 0 auto;}
.list-group {
	width: 100%;
}
.list-group .btn{
    margin: -7px 0 0 0;
    position: absolute;
    right: 20%;
}
.content_block{
    margin: 10px 0 0 0;
}
.content_block input{
    margin: 0 0 15px 0;
}
.content_block .btn_go{
    margin: -2px 0 0 0;
}
.list-group-item{
    position: relative;
}
.list-group-item{
	position: relative;
}
.list-group-item .block{
	position: absolute;
	top: 0;
	right: 0;
}


.block{
	width: 60px;
	height: 40px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;

}
