body{
		width: 1080px;
	
		margin: 0 auto;
		}
	#wrapper{
		/*width: 100%;*/
	border-radius: 10px;
	background-color: #BBD9A0;
		
	}
	/*.delete{
		float: right;
	position: relative;
	top: -42px;
	}*/

	.header {

		width: 100%;
	}
	h2{
		display: inline;
	}
	.stars {
  font-family: 'Glyphicons Halflings';
  color: black;
}
.header{
	height: 100px;
}
.header h2{
	color: #000000;
}