<div class="container">

    
    <nav class="navbar navbar-inverse">
        
        <input type="text" class="for-control" placehoder="Search"> 
        
        <ul class="nav navbar-nav pull-right">
            <li><a href="">Сортировать по цене</a></li>
            <li><a href="">Сортировать по названию</a></li>
            
        </ul>
    </nav>
    
    <div class="row">
        <ul>
            <li ng-repeat="item in cart.productList">
                <div class="col-xs-12 col-md-4 pannel">
                    <img src="{{item.img}}">
                    <span class="price">{{item.price}}</span>
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                    <input type="button" value="Buy" ng-click="cart.buy(1, item)">
                    <a href="#">Details</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="basket">
    <p>Basket</p>
    <p>Items:{{cart.inCart.length}}</p>
    <p>Total:{{cart.sum}}</p>
    <a ui-sref="/shopping-cart">Check</a>
    <p><a href="/WorkTask/Test/Shop/#/shopping-cart">CART</a></p>
    <p><a href="/shopping-cart">CART</a></p>
</div>
