<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="root">
    <div id="wrapper" class="row" ng-controller="Buy as Busket">
        <div id="buy" class="col-lg-6 pannel" ng-controller="Phones as BuyItem">
        
                            <div ng-include="'/products-list/products-list.html'">

                <!-- phones-list -->

            </div>
        </div>
        <div id="busket" class="col-lg-6 pannel">
            <!-- shopping cart -->
            <div class="header">
                <h2>Shopping Cart</h2>
                <input type="button" value="DELETE" class="btn btn-danger" ng-click="Busket.del()">
                <div>
                    <span class="items">Items: {{Busket.totalItems}}</span>
                    <span class="total">Summ: {{Busket.totalSumm | currency }}</span>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="value in Busket.Chosen track by $index">
                    {{ value.inbusket }}
                    <span class="badge">
	                    {{ value.counter }}
	                	</span>
                    <span>{{value.rating}}
	                	<span class="glyphicon glyphicon-remove" ng-click="Busket.dellast(value.inbusket)"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="app.module.js"></script>
<script src="products-list/products-list.ctrl.js"></script>
<script src="shopping-cart/shopping-cart.ctrl.js"></script>
<script src="fiter/rating-stars.js"></script>

</html>
